.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.1);
}

.modal {
  position: fixed;
  top: 100px;
  left: 5%;
  width: 90%;
  height: auto;
  background-color: white;
  padding: none;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-end;
  color: black;
}

@media (min-width: 768px) {
  .modal {
    width: 35rem;
    left: calc(50% - 15rem);
  }
}

@media (max-width: 767px) {
  .modal {
    min-width: 100px;
    left: 10px;
  }
  .close-button {
    position: absolute;
    top: 0;
    right: 0.5rem;
    background: none;
    border: none;
    font-size: 0.5rem;
    cursor: pointer;
    align-self: flex-end;
    color: black;
  }
}

/* @keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
