.header-cart {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font: inherit;
  border: none;
  right: 10rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0;
}
.badge {
  margin-right: 1rem;
}
@media only screen and (max-width: 767px) {
  .header-cart {
    font-size: 1rem;
    border-radius: 15px;
    padding: 0.5rem 0.75rem;
    right: 1px;
  }

  .icon {
    width: 1.2rem;
    height: 1.2rem;
  }
  .badge {
    font-size: 5px;
    margin-right: 0.5rem;
  }
}
