.header {
  background-color: black;
  display: flex;
  padding: 10px;
  align-items: center;
  height: 70px;
}

.header h3 {
  margin-left: 3rem;
  color: white;
  font-size: 20px;
}

.header-input-option {
  margin-left: 5rem;
  width: 40%;
  /* min-width: 25rem; */
}
.header-login {
  flex: 1;
  margin-left: 5rem;
  margin-right: 2rem;
  color: white;
  background-color: transparent;
  width: 30rem;
}

.header-cart-button {
  background-color: transparent;
  border: none;
  color: white;
  margin-right: 2rem;
}

@media (max-width: 767px) {
  .header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
  }

  .header h3 {
    margin-left: 0.5rem;
    font-size: 1rem;
  }
  .header-input-option {
    margin-left: 1rem;
    width: 3rem;
    max-width: 5rem;
  }
  .header-login {
    flex: 1;
    margin-left: 1rem;
    margin-right: 2rem;
    color: white;
    background-color: transparent;
    width: 3rem;
  }

  .header-cart-button {
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 2rem;
  }
}
